

  .app-container-grid {
    display: grid;
    grid-template-rows: 1fr 7fr 2fr;
    height: 100vh;
  }
/* 
  .main-header,
  .main-footer {
    background-color: #8482ff;
    display: grid;
    grid-template-columns: 3fr 6fr 3fr;
    padding: 15px;
    vertical-align: middle;
  } */

  /* .main-container-grid {
    display: grid;
    grid-template-columns: 3fr 6fr 3fr;
    padding: 15px;
  } */

  .align-center {
    margin: 15px;
    border: 1px dashed rgb(104, 104, 104);
    text-align: center;
  }