.main-container-grid {
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
  height: 100%;
}

.table-one {
  width: 100%;
  border: 1px solid #CCC;
}

.table-one>tbody>tr>td {
  border: 1px solid #CCC;
  min-height: 50px;
  padding: .5em;
}